{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="container all-container p-3 mt-4">

    <h1 class="text-center"><u>All Your Current Active Shorties</u></h1>
    <div class="container w-75">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} mt-3">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <table class="table table-striped table-hover" id="all_table">
        <thead>
            <tr>
                <th scope="col">Shorty ID</th>
                <th scope="col">Reference</th>
                <th scope="col">Shorty</th>
                <th scope="col">Date Created</th>
                <th scope="col">Expires At</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in all_records %}
            <tr>
                <th>{{ row.id }}</th>
                <td> {{ row.name }}</td>
                <td><a href="{{ row.long }}" target="_blank">{{ row.short }}</a></td>
                <td>{{ row.created_at.strftime("%d %b %Y at %H:%M:%S") }}</td>
                <td>{{ row.expiry_time.strftime("%d %b %Y at %H:%M:%S") }}</td>
                <td>
                    <!-- UPDATE SHORTY -->
                    <a href="{{ url_for('update', id=row.id ) }}" class="btn btn-outline-warning text-primary">Update</a>
                    <!-- Delete SHORTY -->
                    <button type="button" class="btn btn-outline-danger p-2 border
                    rounded" data-bs-toggle="modal" data-bs-target="#deleteModal{{ row.id }}">Delete</button>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{ row.id }}" tabindex="-1"
                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Permanently Delete the shortened link
                                        for {{ row.name }}?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <form action="{{ url_for('delete', id=row.id) }}" method="POST">
                                        <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center mt-4">
        <a href="{{ url_for('generate') }}"
        class="btn btn-outline-info mb-1 rounded w-25">Create
        New
        Shorty</a>
        <br>
        <a href="{{ url_for('home') }}" class="btn btn-outline-dark w-25">Home</a>
    </div>
</div>

{% endblock %}